<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>by.morphe.aTarantula.unit.plugin</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxbundle</string>
        <string>com.apple.dt.unit.languageChoice</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a plug-in for aTarantula.</string>
    <key>SortOrder</key>
    <integer>101</integer>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
            	<key>SWIFT_OBJC_BRIDGING_HEADER</key>
            	<string>___PROJECTNAME___/support/___PROJECTNAME___-Bridging-Header.h</string>
            </dict>
            <key>BuildPhases</key>
            <array>
                <dict>
                    <key>Class</key>
                    <string>Sources</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Frameworks</string>
                </dict>
                <dict>
                    <key>Class</key>
                    <string>Resources</string>
                </dict>
            </array>
            <key>Frameworks</key>
            <array>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>main/Settings.storyboard</string>
        <string>main/___PACKAGENAMEASIDENTIFIER___CrawlerPlugin.swift</string>
        <string>main/Configuration.swift</string>
        <string>main/Filter.swift</string>
        <string>main/InitialObjectViewController.swift</string>
        <string>main/Resources.swift</string>
        <string>main/SettingsViewController.swift</string>
        <string>Info.plist</string>
        <string>Info.plist:PrincipalClass</string>
        <string>main/SettingsViewController.swift</string>
        <string>core-data/___PRODUCTNAME___.xcdatamodeld</string>
        <string>core-data/Crawlable+CoreDataClass.swift</string>
        <string>crawling/crawl.swift</string>
        <string>support/___PRODUCTNAME___-Bridging-Header.h</string>
        <string>support/NSWindow+endEditing.h</string>
        <string>TarantulaPluginCore.framework</string>
        <string>Kanna.framework</string>
        <string>Regex.framework</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>main/Settings.storyboard</key>
        <dict>
            <key>Path</key>
            <string>main/Settings.storyboard</string>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>main/___PACKAGENAMEASIDENTIFIER___CrawlerPlugin.swift</key>
        <dict>
            <key>Path</key>
            <string>main/RootCrawlerPlugin.swift</string>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>main/Configuration.swift</key>
        <dict>
            <key>Path</key>
            <string>main/Configuration.swift</string>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>main/Filter.swift</key>
        <dict>
            <key>Path</key>
            <string>main/Filter.swift</string>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>main/InitialObjectViewController.swift</key>
        <dict>
            <key>Path</key>
            <string>main/InitialObjectViewController.swift</string>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>main/Resources.swift</key>
        <dict>
            <key>Path</key>
            <string>main/Resources.swift</string>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>main/SettingsViewController.swift</key>
        <dict>
            <key>Path</key>
            <string>main/SettingsViewController.swift</string>
            <key>Group</key>
            <array>
                <string>main</string>
            </array>
        </dict>
        <key>Info.plist:PrincipalClass</key>
        <string><![CDATA[<key>NSPrincipalClass</key>
<string>___PACKAGENAMEASIDENTIFIER___CrawlerPlugin</string>
]]></string>
        <key>core-data/___PRODUCTNAME___.xcdatamodeld</key>
        <dict>
            <key>Path</key>
            <string>core-data/Model.xcdatamodeld</string>
            <key>Group</key>
            <array>
                <string>core-data</string>
            </array>
        </dict>
        <key>core-data/Crawlable+CoreDataClass.swift</key>
        <dict>
            <key>Path</key>
            <string>core-data/Crawlable+CoreDataClass.swift</string>
            <key>Group</key>
            <array>
                <string>core-data</string>
            </array>
        </dict>
        <key>crawling/crawl.swift</key>
        <dict>
            <key>Path</key>
            <string>crawling/crawl.swift</string>
            <key>Group</key>
            <array>
                <string>crawling</string>
            </array>
        </dict>
        <key>support/___PRODUCTNAME___-Bridging-Header.h</key>
        <dict>
            <key>Path</key>
            <string>support/Core-Bridging-Header.h</string>
            <key>Group</key>
            <array>
                <string>support</string>
            </array>
        </dict>
        <key>support/NSWindow+endEditing.h</key>
        <dict>
            <key>Path</key>
            <string>support/NSWindow+endEditing.h</string>
            <key>Group</key>
            <array>
                <string>support</string>
            </array>
        </dict>
        <key>TarantulaPluginCore.framework</key>
        <dict>
            <key>Path</key>
            <string>TarantulaPluginCore.framework</string>
            <key>Group</key>
            <array>
                <string>Tarantula Frameworks</string>
            </array>
        </dict>
        <key>Kanna.framework</key>
        <dict>
            <key>Path</key>
            <string>Kanna.framework</string>
            <key>Group</key>
            <array>
                <string>Tarantula Frameworks</string>
            </array>
        </dict>
        <key>Regex.framework</key>
        <dict>
            <key>Path</key>
            <string>Regex.framework</string>
            <key>Group</key>
            <array>
                <string>Tarantula Frameworks</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>
